{% extends "dashboard/dashboard.html" %}
{% block content %}

<link rel="preconnect" href="https://fonts.gstatic.com">   
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/7663475ec6.js" crossorigin="anonymous"></script>
<link href="App.css" rel="stylesheet" />

<script type="text/javascript">
    window.onload = function () {
      calcRoute();
    };
  </script>
  
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Customer Location</h1>

            <input disabled type="text" id="from" placeholder="Origin" value="dangamvura" class="form-control">
            <input disabled type="text" id="to" placeholder="Origin" value="{{destination}}" class="form-control">
            <div id="googleMap">

            </div>
            <div id="output">

            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl91ZLUSOuh36T_Z3EXcrgnZVc8bBd-1Y&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "Map.js" %} "></script>

{% endblock content %}


