{% extends "dashboard/dashboard.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Client</th>
        <th scope="col">Client Address</th>
        <th scope="col">Total price</th>
        <th scope="col">Payment status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for order in orders %}
    <tbody>
      <tr>
        <td>{{ order.id }}</td>
        <td><strong>{{ order.firstname|capfirst }}-{{ order.lastname|capfirst }}</strong></td>
        <td>{{ order.destination}}</td>
        <td>${{ order.total_amount }}</td>
        {% if order.paid %}
            <td class="text-success">Successful</td>
        {% else %}
            <td class="text-danger">Canceled</td>
        {% endif %}
        <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">Location</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  

{% endblock %}

